@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');
@import './colors.scss';

body,
section,
article,
header,
div,
button,
label,
input,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Playpen Sans', cursive;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
}
