@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		@apply accent-slate-600;
	}

	::selection {
		@apply bg-blue-300;
		@apply text-black;
	}

	body,
	section,
	article,
	header,
	div,
	button,
	input,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 p,
	span {
		@apply text-base;
		font-family: 'Mulish', sans-serif;
		font-optical-sizing: auto;
		font-weight: normal;
		font-style: normal;
	}

	.subheading {
		@apply text-xl font-medium;
		font-family: 'Playpen Sans', cursive;
	}

	.heading {
		@apply text-2xl font-medium;
		font-family: 'Playpen Sans', cursive;
	}

	.title {
		@apply text-3xl font-medium;
		font-family: 'Playpen Sans', cursive;
	}

	.note {
		@apply text-xs;
	}

	label,
	.label {
		@apply text-sm;
	}

	input {
		@apply accent-slate-600;
		transition: 0.2s;
	}

	.input-text {
		@apply border border-solid border-slate-300 rounded-md;
		@apply py-1 px-2;
		@apply focus:ring-2 focus:ring-offset-1;
		@apply focus:ring-slate-400;
		outline: none;
	}

	input[type='checkbox'],
	input[type='radio'] {
		transform: scale(1.25);
	}

	input[type='checkbox'] + label {
		@apply text-base;
		@apply pl-1;
	}

	select {
		@apply border border-solid border-slate-900 rounded-md;
		@apply py-1 px-2;
		@apply focus:outline-slate-600 active:outline-slate-600;
	}

	button,
	.btn {
		@apply bg-slate-200;
		@apply text-slate-900;
		@apply rounded-xl;
		border: 2px solid transparent;
		padding: 0.25rem 0.75rem;
		font-size: 18px;
		text-decoration: none;
		width: fit-content;
		height: fit-content;
	}

	button:hover,
	.btn:hover {
		@apply bg-slate-400;
		transition: 0.2s;
		cursor: pointer;
	}

	button:disabled,
	.btn:disabled {
		@apply bg-slate-300;
		@apply text-white;
		pointer-events: none;
	}

	.btn-primary,
	.btn-secondary {
		color: white;
	}

	.btn-outline-default {
		@apply bg-transparent;
		@apply text-slate-900;
		@apply border-2 border-solid border-slate-900;
	}

	.btn-outline-default:hover {
		@apply bg-slate-900;
		@apply text-white;
	}

	.btn-outline {
		@apply bg-transparent;
		@apply border-2 border-solid;
	}

	.btn-outline:hover {
		@apply text-white;
	}

	.style-card {
		@apply border border-solid border-slate-300;
	}

	.style-card:hover {
		@apply border-slate-900;
		transition: 0.2s;
	}
}

@layer components {
}

@layer utilities {
	.dark {
		@apply text-white;
	}

	.dark input[type='text'] {
		@apply text-white;
		@apply bg-transparent;
	}

	.dark select {
		@apply bg-transparent;
		@apply text-slate-50;
		@apply border border-solid border-slate-50 rounded-md;
	}

	.dark .btn-outline-default {
		@apply bg-transparent;
		@apply text-white;
		@apply border-2 border-solid border-slate-50;
	}

	.dark .btn-outline-default:hover {
		@apply bg-gray-50;
		@apply text-gray-900;
	}

	.dark .btn-outline {
		@apply bg-transparent;
		@apply border-2 border-solid;
	}

	.dark .btn-outline:hover {
		@apply text-white;
	}

	.dark .style-card {
		@apply border border-solid border-slate-700;
	}

	.dark .style-card:hover {
		@apply border-slate-50;
	}

	.dark button:disabled,
	.dark .btn:disabled {
		@apply bg-slate-700;
		@apply text-slate-500;
		pointer-events: none;
	}
}
