$pp-red-50: #ffebee;
$pp-red-100: #ffcdd2;
$pp-red-200: #ef9a9a;
$pp-red-300: #e57373;
$pp-red-400: #ef5350;
$pp-red-500: #f44336;
$pp-red-600: #e53935;
$pp-red-700: #d32f2f;
$pp-red-800: #c62828;
$pp-red-900: #b71c1c;

$pp-pink-50: #fce4ec;
$pp-pink-100: #f8bbd0;
$pp-pink-200: #f48fb1;
$pp-pink-300: #f06292;
$pp-pink-400: #ec407a;
$pp-pink-500: #e91e63;
$pp-pink-600: #d81b60;
$pp-pink-700: #c2185b;
$pp-pink-800: #ad1457;
$pp-pink-900: #880e4f;

$pp-purple-50: #f3e5f5;
$pp-purple-100: #e1bee7;
$pp-purple-200: #ce93d8;
$pp-purple-300: #ba68c8;
$pp-purple-400: #ab47bc;
$pp-purple-500: #9c27b0;
$pp-purple-600: #8e24aa;
$pp-purple-700: #7b1fa2;
$pp-purple-800: #6a1b9a;
$pp-purple-900: #4a148c;

$pp-violet-50: #ede7f6;
$pp-violet-100: #d1c4e9;
$pp-violet-200: #b39ddb;
$pp-violet-300: #9575cd;
$pp-violet-400: #7e57c2;
$pp-violet-500: #673ab7;
$pp-violet-600: #5e35b1;
$pp-violet-700: #512da8;
$pp-violet-800: #4527a0;
$pp-violet-900: #311b92;

$pp-indigo-50: #e8eaf6;
$pp-indigo-100: #c5cae9;
$pp-indigo-200: #9fa8da;
$pp-indigo-300: #7986cb;
$pp-indigo-400: #5c6bc0;
$pp-indigo-500: #3f51b5;
$pp-indigo-600: #3949ab;
$pp-indigo-700: #303f9f;
$pp-indigo-800: #283593;
$pp-indigo-900: #1a237e;

$pp-blue-50: #e3f2fd;
$pp-blue-100: #bbdefb;
$pp-blue-200: #90caf9;
$pp-blue-300: #64b5f6;
$pp-blue-400: #42a5f5;
$pp-blue-500: #2196f3;
$pp-blue-600: #1e88e5;
$pp-blue-700: #1976d2;
$pp-blue-800: #1565c0;
$pp-blue-900: #0d47a1;

$pp-light-blue-50: #e1f5fe;
$pp-light-blue-100: #b3e5fc;
$pp-light-blue-200: #81d4fa;
$pp-light-blue-300: #4fc3f7;
$pp-light-blue-400: #29b6f6;
$pp-light-blue-500: #03a9f4;
$pp-light-blue-600: #039be5;
$pp-light-blue-700: #0288d1;
$pp-light-blue-800: #0277bd;
$pp-light-blue-900: #01579b;

$pp-cyan-50: #e0f7fa;
$pp-cyan-100: #b2ebf2;
$pp-cyan-200: #80deea;
$pp-cyan-300: #4dd0e1;
$pp-cyan-400: #26c6da;
$pp-cyan-500: #00bcd4;
$pp-cyan-600: #00acc1;
$pp-cyan-700: #0097a7;
$pp-cyan-800: #00838f;
$pp-cyan-900: #006064;

$pp-teal-50: #e0f2f1;
$pp-teal-100: #b2dfdb;
$pp-teal-200: #80cbc4;
$pp-teal-300: #4db6ac;
$pp-teal-400: #26a69a;
$pp-teal-500: #009688;
$pp-teal-600: #00897b;
$pp-teal-700: #00796b;
$pp-teal-800: #00695c;
$pp-teal-900: #004d40;

$pp-green-50: #e8f5e9;
$pp-green-100: #c8e6c9;
$pp-green-200: #a5d6a7;
$pp-green-300: #81c784;
$pp-green-400: #66bb6a;
$pp-green-500: #4caf50;
$pp-green-600: #43a047;
$pp-green-700: #388e3c;
$pp-green-800: #2e7d32;
$pp-green-900: #1b5e20;

$pp-light-green-50: #f1f8e9;
$pp-light-green-100: #dcedc8;
$pp-light-green-200: #c5e1a5;
$pp-light-green-300: #aed581;
$pp-light-green-400: #9ccc65;
$pp-light-green-500: #8bc34a;
$pp-light-green-600: #7cb342;
$pp-light-green-700: #689f38;
$pp-light-green-800: #558b2f;
$pp-light-green-900: #33691e;

$pp-olive-50: #f9fbe7;
$pp-olive-100: #f0f4c3;
$pp-olive-200: #e6ee9c;
$pp-olive-300: #dce775;
$pp-olive-400: #d4e157;
$pp-olive-500: #cddc39;
$pp-olive-600: #c0ca33;
$pp-olive-700: #afb42b;
$pp-olive-800: #9e9d24;
$pp-olive-900: #827717;

$pp-yellow-50: #fffde7;
$pp-yellow-100: #fff9c4;
$pp-yellow-200: #fff59d;
$pp-yellow-300: #fff176;
$pp-yellow-400: #ffee58;
$pp-yellow-500: #ffeb3b;
$pp-yellow-600: #fdd835;
$pp-yellow-700: #fbc02d;
$pp-yellow-800: #f9a825;
$pp-yellow-900: #f57f17;

$pp-carrot-50: #fef5e7;
$pp-carrot-100: #fdebd0;
$pp-carrot-200: #fad7a0;
$pp-carrot-300: #f8c471;
$pp-carrot-400: #f5b041;
$pp-carrot-500: #f39c12;
$pp-carrot-600: #d68910;
$pp-carrot-700: #b9770e;
$pp-carrot-800: #9c640c;
$pp-carrot-900: #7e5109;

$pp-amber-50: #fff8e1;
$pp-amber-100: #ffecb3;
$pp-amber-200: #ffe082;
$pp-amber-300: #ffd54f;
$pp-amber-400: #ffca28;
$pp-amber-500: #ffc107;
$pp-amber-600: #ffb300;
$pp-amber-700: #ffa000;
$pp-amber-800: #ff8f00;
$pp-amber-900: #ff6f00;

$pp-orange-50: #fff3e0;
$pp-orange-100: #ffe0b2;
$pp-orange-200: #ffcc80;
$pp-orange-300: #ffb74d;
$pp-orange-400: #ffa726;
$pp-orange-500: #ff9800;
$pp-orange-600: #fb8c00;
$pp-orange-700: #f57c00;
$pp-orange-800: #ef6c00;
$pp-orange-900: #e65100;

$pp-grapefruit-50: #fbe9e7;
$pp-grapefruit-100: #ffccbc;
$pp-grapefruit-200: #ffab91;
$pp-grapefruit-300: #ff8a65;
$pp-grapefruit-400: #ff7043;
$pp-grapefruit-500: #ff5722;
$pp-grapefruit-600: #f4511e;
$pp-grapefruit-700: #e64a19;
$pp-grapefruit-800: #d84315;
$pp-grapefruit-900: #bf360c;

$pp-brown-50: #efebe9;
$pp-brown-100: #d7ccc8;
$pp-brown-200: #bcaaa4;
$pp-brown-300: #a1887f;
$pp-brown-400: #8d6e63;
$pp-brown-500: #795548;
$pp-brown-600: #6d4c41;
$pp-brown-700: #5d4037;
$pp-brown-800: #4e342e;
$pp-brown-900: #3e2723;

$pp-bw-50: #fafafa;
$pp-bw-100: #f5f5f5;
$pp-bw-200: #eeeeee;
$pp-bw-300: #e0e0e0;
$pp-bw-400: #bdbdbd;
$pp-bw-500: #9e9e9e;
$pp-bw-600: #757575;
$pp-bw-700: #616161;
$pp-bw-800: #424242;
$pp-bw-900: #212121;

$pp-steel-50: #eceff1;
$pp-steel-100: #cfd8dc;
$pp-steel-200: #b0bec5;
$pp-steel-300: #90a4ae;
$pp-steel-400: #78909c;
$pp-steel-500: #607d8b;
$pp-steel-600: #546e7a;
$pp-steel-700: #455a64;
$pp-steel-800: #37474f;
$pp-steel-900: #263238;
