$pp-red-50: #FFEBEE;
$pp-red-100: #FFCDD2;
$pp-red-200: #EF9A9A;
$pp-red-300: #E57373;
$pp-red-400: #EF5350;
$pp-red-500: #F44336;
$pp-red-600: #E53935;
$pp-red-700: #D32F2F;
$pp-red-800: #C62828;
$pp-red-900: #B71C1C;

$pp-pink-50: #FCE4EC;
$pp-pink-100: #F8BBD0;
$pp-pink-200: #F48FB1;
$pp-pink-300: #F06292;
$pp-pink-400: #EC407A;
$pp-pink-500: #E91E63;
$pp-pink-600: #D81B60;
$pp-pink-700: #C2185B;
$pp-pink-800: #AD1457;
$pp-pink-900: #880E4F;

$pp-purple-50: #F3E5F5;
$pp-purple-100: #E1BEE7;
$pp-purple-200: #CE93D8;
$pp-purple-300: #BA68C8;
$pp-purple-400: #AB47BC;
$pp-purple-500: #9C27B0;
$pp-purple-600: #8E24AA;
$pp-purple-700: #7B1FA2;
$pp-purple-800: #6A1B9A;
$pp-purple-900: #4A148C;

$pp-violet-50: #EDE7F6;
$pp-violet-100: #D1C4E9;
$pp-violet-200: #B39DDB;
$pp-violet-300: #9575CD;
$pp-violet-400: #7E57C2;
$pp-violet-500: #673AB7;
$pp-violet-600: #5E35B1;
$pp-violet-700: #512DA8;
$pp-violet-800: #4527A0;
$pp-violet-900: #311B92;

$pp-indigo-50: #E8EAF6;
$pp-indigo-100: #C5CAE9;
$pp-indigo-200: #9FA8DA;
$pp-indigo-300: #7986CB;
$pp-indigo-400: #5C6BC0;
$pp-indigo-500: #3F51B5;
$pp-indigo-600: #3949AB;
$pp-indigo-700: #303F9F;
$pp-indigo-800: #283593;
$pp-indigo-900: #1A237E;

$pp-blue-50: #E3F2FD;
$pp-blue-100: #BBDEFB;
$pp-blue-200: #90CAF9;
$pp-blue-300: #64B5F6;
$pp-blue-400: #42A5F5;
$pp-blue-500: #2196F3;
$pp-blue-600: #1E88E5;
$pp-blue-700: #1976D2;
$pp-blue-800: #1565C0;
$pp-blue-900: #0D47A1;

$pp-light-blue-50: #E1F5FE;
$pp-light-blue-100: #B3E5FC;
$pp-light-blue-200: #81D4FA;
$pp-light-blue-300: #4FC3F7;
$pp-light-blue-400: #29B6F6;
$pp-light-blue-500: #03A9F4;
$pp-light-blue-600: #039BE5;
$pp-light-blue-700: #0288D1;
$pp-light-blue-800: #0277BD;
$pp-light-blue-900: #01579B;

$pp-cyan-50: #E0F7FA;
$pp-cyan-100: #B2EBF2;
$pp-cyan-200: #80DEEA;
$pp-cyan-300: #4DD0E1;
$pp-cyan-400: #26C6DA;
$pp-cyan-500: #00BCD4;
$pp-cyan-600: #00ACC1;
$pp-cyan-700: #0097A7;
$pp-cyan-800: #00838F;
$pp-cyan-900: #006064;

$pp-teal-50: #E0F2F1;
$pp-teal-100: #B2DFDB;
$pp-teal-200: #80CBC4;
$pp-teal-300: #4DB6AC;
$pp-teal-400: #26A69A;
$pp-teal-500: #009688;
$pp-teal-600: #00897B;
$pp-teal-700: #00796B;
$pp-teal-800: #00695C;
$pp-teal-900: #004D40;

$pp-green-50: #E8F5E9;
$pp-green-100: #C8E6C9;
$pp-green-200: #A5D6A7;
$pp-green-300: #81C784;
$pp-green-400: #66BB6A;
$pp-green-500: #4CAF50;
$pp-green-600: #43A047;
$pp-green-700: #388E3C;
$pp-green-800: #2E7D32;
$pp-green-900: #1B5E20;

$pp-light-green-50: #F1F8E9;
$pp-light-green-100: #DCEDC8;
$pp-light-green-200: #C5E1A5;
$pp-light-green-300: #AED581;
$pp-light-green-400: #9CCC65;
$pp-light-green-500: #8BC34A;
$pp-light-green-600: #7CB342;
$pp-light-green-700: #689F38;
$pp-light-green-800: #558B2F;
$pp-light-green-900: #33691E;

$pp-olive-50: #F9FBE7;
$pp-olive-100: #F0F4C3;
$pp-olive-200: #E6EE9C;
$pp-olive-300: #DCE775;
$pp-olive-400: #D4E157;
$pp-olive-500: #CDDC39;
$pp-olive-600: #C0CA33;
$pp-olive-700: #AFB42B;
$pp-olive-800: #9E9D24;
$pp-olive-900: #827717;

$pp-yellow-50: #FFFDE7;
$pp-yellow-100: #FFF9C4;
$pp-yellow-200: #FFF59D;
$pp-yellow-300: #FFF176;
$pp-yellow-400: #FFEE58;
$pp-yellow-500: #FFEB3B;
$pp-yellow-600: #FDD835;
$pp-yellow-700: #FBC02D;
$pp-yellow-800: #F9A825;
$pp-yellow-900: #F57F17;

$pp-carrot-50: #FEF5E7;
$pp-carrot-100: #FDEBD0;
$pp-carrot-200: #FAD7A0;
$pp-carrot-300: #F8C471;
$pp-carrot-400: #F5B041;
$pp-carrot-500: #F39C12;
$pp-carrot-600: #D68910;
$pp-carrot-700: #B9770E;
$pp-carrot-800: #9C640C;
$pp-carrot-900: #7E5109;

$pp-amber-50: #FFF8E1;
$pp-amber-100: #FFECB3;
$pp-amber-200: #FFE082;
$pp-amber-300: #FFD54F;
$pp-amber-400: #FFCA28;
$pp-amber-500: #FFC107;
$pp-amber-600: #FFB300;
$pp-amber-700: #FFA000;
$pp-amber-800: #FF8F00;
$pp-amber-900: #FF6F00;

$pp-orange-50: #FFF3E0;
$pp-orange-100: #FFE0B2;
$pp-orange-200: #FFCC80;
$pp-orange-300: #FFB74D;
$pp-orange-400: #FFA726;
$pp-orange-500: #FF9800;
$pp-orange-600: #FB8C00;
$pp-orange-700: #F57C00;
$pp-orange-800: #EF6C00;
$pp-orange-900: #E65100;

$pp-grapefruit-50: #FBE9E7;
$pp-grapefruit-100: #FFCCBC;
$pp-grapefruit-200: #FFAB91;
$pp-grapefruit-300: #FF8A65;
$pp-grapefruit-400: #FF7043;
$pp-grapefruit-500: #FF5722;
$pp-grapefruit-600: #F4511E;
$pp-grapefruit-700: #E64A19;
$pp-grapefruit-800: #D84315;
$pp-grapefruit-900: #BF360C;

$pp-brown-50: #EFEBE9;
$pp-brown-100: #D7CCC8;
$pp-brown-200: #BCAAA4;
$pp-brown-300: #A1887F;
$pp-brown-400: #8D6E63;
$pp-brown-500: #795548;
$pp-brown-600: #6D4C41;
$pp-brown-700: #5D4037;
$pp-brown-800: #4E342E;
$pp-brown-900: #3E2723;

$pp-bw-50: #FAFAFA;
$pp-bw-100: #F5F5F5;
$pp-bw-200: #EEEEEE;
$pp-bw-300: #E0E0E0;
$pp-bw-400: #BDBDBD;
$pp-bw-500: #9E9E9E;
$pp-bw-600: #757575;
$pp-bw-700: #616161;
$pp-bw-800: #424242;
$pp-bw-900: #212121;

$pp-steel-50: #ECEFF1;
$pp-steel-100: #CFD8DC;
$pp-steel-200: #B0BEC5;
$pp-steel-300: #90A4AE;
$pp-steel-400: #78909C;
$pp-steel-500: #607D8B;
$pp-steel-600: #546E7A;
$pp-steel-700: #455A64;
$pp-steel-800: #37474F;
$pp-steel-900: #263238;